### J-Term 2017, Harvard GSD :
### Introduction to Data Science for Building Simulation
***
Instructor: Jung Min Han, elliehan07@gmail.com <br>
Teaching Assistant: NJ Namju Lee, nj.namju@gmail.com <br>
Date/Time: Jan 9-12/ 1:00 - 3:00 p.m. <br>
Location: 20 Sumner/Room 1-D<br>
***

# missing values

In [24]:
# import library
import numpy as np
import pandas as pd
import os

In [25]:
# import data
def GetPandasFromExcel(path, fileName):
    path = os.path.join(path , fileName)
    return pd.read_excel(path) # pip install xlrd needed

In [26]:
fn1 =  'dailyChilledWaterWithFeatures.xlsx'
fn2 =  'dailyElectricityWithFeatures.xlsx'
fn3 =  'dailySteamWithFeatures.xlsx'
theDir = 'data/'
d1 = GetPandasFromExcel(theDir, fn1)
d2 = GetPandasFromExcel(theDir, fn2)
d3 = GetPandasFromExcel(theDir, fn3)
print d1.head(2)
print d2.head(2)
print d3.head(2)

            chilledWater-TonDays   startDay     endDay       RH-%       T-C  \
2012-01-01              0.961857 2012-01-01 2012-01-02  76.652174  7.173913
2012-01-02              0.981725 2012-01-02 2012-01-03  55.958333  5.833333

              Tdew-C  pressure-mbar  solarRadiation-W/m2  windDirection  \
2012-01-01  3.073913    1004.956522            95.260870     236.086957
2012-01-02 -2.937500     994.625000            87.333333     253.750000

            windSpeed-m/s  humidityRatio-kg/kg  coolingDegrees  \
2012-01-01       4.118361             0.004796             0.0
2012-01-02       5.914357             0.003415             0.0

            heatingDegrees  dehumidification  occupancy
2012-01-01        7.826087               0.0        0.0
2012-01-02        9.166667               0.0        0.3
            electricity-kWh   startDay     endDay       RH-%       T-C  \
2012-01-01      2800.244977 2012-01-01 2012-01-02  76.652174  7.173913
2012-01-02      3168.974047 2012-01-02 2012-01-03  55.958333  5.833333

              Tdew-C  pressure-mbar  solarRadiation-W/m2  windDirection  \
2012-01-01  3.073913    1004.956522            95.260870     236.086957
2012-01-02 -2.937500     994.625000            87.333333     253.750000

            windSpeed-m/s  humidityRatio-kg/kg  coolingDegrees  \
2012-01-01       4.118361             0.004796             0.0
2012-01-02       5.914357             0.003415             0.0

            heatingDegrees  dehumidification  occupancy
2012-01-01        7.826087               0.0        0.0
2012-01-02        9.166667               0.0        0.3
               steam-LBS   startDay     endDay       RH-%       T-C    Tdew-C  \
2012-01-01  17256.468099 2012-01-01 2012-01-02  76.652174  7.173913  3.073913
2012-01-02  17078.440755 2012-01-02 2012-01-03  55.958333  5.833333 -2.937500

            pressure-mbar  solarRadiation-W/m2  windDirection  windSpeed-m/s  \
2012-01-01    1004.956522            95.260870     236.086957       4.118361
2012-01-02     994.625000            87.333333     253.750000       5.914357

            humidityRatio-kg/kg  coolingDegrees  heatingDegrees  \
2012-01-01             0.004796             0.0        7.826087
2012-01-02             0.003415             0.0        9.166667

            dehumidification  occupancy
2012-01-01               0.0        0.0
2012-01-02               0.0        0.3

In [27]:
# get index string
index1 = d1.columns.values[0]
index2 = d2.columns.values[0]
index3 = d3.columns.values[0]
print index1
print index2
print index3

chilledWater-TonDays
electricity-kWh
steam-LBS

In [28]:
# get the column
c1 = d1[index1] #['chilledWater-']
c2 = d2[index2] #['electricity-kWh']
c3 = d3[index3] #['steam-LBS']
print c1
print c2
print c3

2012-01-01      0.961857
2012-01-02      0.981725
2012-01-03      1.003672
2012-01-04      1.483192
2012-01-05      3.465091
2012-01-06      2.850017
2012-01-07      1.233654
2012-01-08      1.819965
2012-01-09      1.755790
2012-01-10      2.031341
2012-01-11      2.040937
2012-01-12      1.598127
2012-01-13      1.734152
2012-01-14      2.102609
2012-01-15      1.956227
2012-01-16      2.022603
2012-01-17      1.505160
2012-01-18      1.063769
2012-01-19      1.417286
2012-01-20      1.239108
2012-01-21      0.758384
2012-01-22      0.794660
2012-01-23      1.326296
2012-01-24      2.118290
2012-01-25      2.094744
2012-01-26      1.758940
2012-01-27      2.014697
2012-01-28      1.318782
2012-01-29      1.423206
2012-01-30      1.339141
                 ...
2016-05-31     78.007511
2016-06-01     50.980154
2016-06-02     27.942501
2016-06-03     38.443786
2016-06-04     28.622456
2016-06-05     27.135767
2016-06-06     65.434352
2016-06-07     65.886739
2016-06-08     42.143541
2016-06-09     24.463169
2016-06-10     36.140849
2016-06-11     22.844027
2016-06-12     36.790862
2016-06-13     40.971896
2016-06-14     48.921865
2016-06-15     80.061713
2016-06-16     80.941910
2016-06-17     76.248268
2016-06-18     51.554692
2016-06-19     58.486120
2016-06-20    106.932800
2016-06-21     94.985846
2016-06-22     69.553653
2016-06-23     79.287915
2016-06-24     73.696395
2016-06-25     54.501746
2016-06-26     71.244681
2016-06-27    107.315059
2016-06-28     98.623285
2016-06-29    110.073533
Name: chilledWater-TonDays, dtype: float64
2012-01-01    2800.244977
2012-01-02    3168.974047
2012-01-03    5194.533376
2012-01-04    5354.861935
2012-01-05    5496.223993
2012-01-06    5414.499703
2012-01-07    4138.989708
2012-01-08    4301.957494
2012-01-09    5626.493403
2012-01-10    5370.202795
2012-01-11    5411.600996
2012-01-12    5518.026707
2012-01-13    5313.596132
2012-01-14    3881.154390
2012-01-15    3975.859691
2012-01-16    5125.751809
2012-01-17    5722.366925
2012-01-18    5952.708590
2012-01-19    6234.768844
2012-01-20    5862.304000
2012-01-21    4167.754841
2012-01-22    4086.755643
2012-01-23    6133.595130
2012-01-24    6184.188663
2012-01-25    6313.664206
2012-01-26    6066.265461
2012-01-27    5893.169276
2012-01-28    4156.091295
2012-01-29    4626.334541
2012-01-30    6501.386374
                 ...
2016-05-29    2605.377014
2016-05-30    2830.369765
2016-05-31    3755.996172
2016-06-01    3794.725552
2016-06-02    3730.267677
2016-06-03    3740.988858
2016-06-04    2976.616785
2016-06-05    2857.890759
2016-06-06    3913.468330
2016-06-07    3861.777873
2016-06-08    3772.264136
2016-06-09    3679.492967
2016-06-10    3644.134176
2016-06-11    2725.866310
2016-06-12    2887.256671
2016-06-13    3882.721691
2016-06-14    3968.637523
2016-06-15    3927.890641
2016-06-17    3978.619615
2016-06-18    2893.655027
2016-06-19    2795.746572
2016-06-20    4150.704040
2016-06-21    4293.514215
2016-06-22    3929.123155
2016-06-23    4139.362777
2016-06-24    4112.517452
2016-06-25    3040.412167
2016-06-26    2785.975068
2016-06-27    4109.728509
2016-06-28    4066.366329
Name: electricity-kWh, dtype: float64
2012-01-01    17256.468099
2012-01-02    17078.440755
2012-01-03    59997.969401
2012-01-04    56104.878906
2012-01-05    45231.708984
2012-01-06    41182.952474
2012-01-07    24510.393880
2012-01-08    31754.596354
2012-01-09    42684.648438
2012-01-10    33138.359375
2012-01-11    34495.289714
2012-01-12    35106.012370
2012-01-13    29408.710938
2012-01-14    30238.011882
2012-01-15    43558.016764
2012-01-16    52867.265625
2012-01-17    37525.107422
2012-01-18    42445.322266
2012-01-19    52146.328125
2012-01-20    44846.521267
2012-01-21    46588.955621
2012-01-22    40979.390299
2012-01-23    35732.071289
2012-01-24    23362.709961
2012-01-25    32435.660807
2012-01-26    34713.248047
2012-01-27    32665.996745
2012-01-28    21102.657878
2012-01-29    30107.602539
2012-01-30    40511.435547
                  ...
2016-05-31        0.000000
2016-06-01        0.000000
2016-06-02        0.000000
2016-06-03       19.531250
2016-06-04        0.000000
2016-06-05        0.000000
2016-06-06        0.000000
2016-06-07       20.312500
2016-06-08        0.000000
2016-06-09        0.000000
2016-06-10       19.531250
2016-06-11        0.000000
2016-06-12        0.000000
2016-06-13       20.312500
2016-06-14        0.000000
2016-06-15        0.000000
2016-06-16       20.312500
2016-06-17        0.000000
2016-06-18       19.531250
2016-06-19        0.000000
2016-06-20        0.000000
2016-06-21        0.000000
2016-06-22       20.312500
2016-06-23        0.000000
2016-06-24        0.000000
2016-06-25        0.000000
2016-06-26        0.000000
2016-06-27       19.531250
2016-06-28        0.000000
2016-06-29        0.000000
Name: steam-LBS, dtype: float64

In [29]:
def InsertNoneByRandom(data, percent): # 0.7
    # percent = 1.0 - percent
    newDF = data.copy(deep=True)
    dataLength = len(data)
    rndIndex  = np.random.choice(dataLength,int(dataLength * percent) )
    newDF.iloc[rndIndex] = np.nan# 'null'
    print "The total length of old data:", dataLength
    print "The total length of new data:", newDF.count() 
    print "the length of None in the new data:", newDF.isnull().sum(),"(",percent,"%)"
    return newDF

In [30]:

c1Train = InsertNoneByRandom(c1, 0.3)
print "-----------------------------"
c2Train = InsertNoneByRandom(c2, 0.3)
print "-----------------------------"
c3Train = InsertNoneByRandom(c3, 0.3)

The total length of old data: 1559
The total length of new data: 1159
the length of None in the new data: 400 ( 0.3 %)
-----------------------------
The total length of old data: 1483
The total length of new data: 1099
the length of None in the new data: 384 ( 0.3 %)
-----------------------------
The total length of old data: 1560
The total length of new data: 1144
the length of None in the new data: 416 ( 0.3 %)

In [31]:
print c1Train.head(10)
print c2Train.head(10)
print c3Train.head(10)

2012-01-01    0.961857
2012-01-02    0.981725
2012-01-03         NaN
2012-01-04    1.483192
2012-01-05    3.465091
2012-01-06    2.850017
2012-01-07    1.233654
2012-01-08         NaN
2012-01-09    1.755790
2012-01-10    2.031341
Name: chilledWater-TonDays, dtype: float64
2012-01-01    2800.244977
2012-01-02            NaN
2012-01-03    5194.533376
2012-01-04    5354.861935
2012-01-05            NaN
2012-01-06    5414.499703
2012-01-07    4138.989708
2012-01-08    4301.957494
2012-01-09            NaN
2012-01-10    5370.202795
Name: electricity-kWh, dtype: float64
2012-01-01    17256.468099
2012-01-02             NaN
2012-01-03             NaN
2012-01-04             NaN
2012-01-05    45231.708984
2012-01-06    41182.952474
2012-01-07             NaN
2012-01-08    31754.596354
2012-01-09             NaN
2012-01-10             NaN
Name: steam-LBS, dtype: float64

In [32]:
# sve dat for test
fn1 =  'dailyChilledWaterWithFeatures.xlsx'
fn2 =  'dailyElectricityWithFeatures.xlsx'
fn3 =  'dailySteamWithFeatures.xlsx'

d1.to_csv("data/" + fn1[:-5] + "_test." + "csv", header=True)
d2.to_csv("data/" + fn2[:-5] + "_test." + "csv", header=True)
d3.to_csv("data/" + fn3[:-5] + "_test." + "csv", header=True)

In [33]:
# save data for train
d1[index1] = c1Train#['chilledWater-']
d2[index2] = c2Train#['electricity-kWh']
d3[index3] = c3Train#['steam-LBS']

d1.to_csv("data/" + fn1[:-5] + "_train." + "csv", header=True)
d2.to_csv("data/" + fn2[:-5] + "_train." + "csv", header=True)
d3.to_csv("data/" + fn3[:-5] + "_train." + "csv", header=True)